<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!-- Generate by core-dictionary-plugin for module ${className} -->
<hibernate-configuration>
    <session-factory>
        #foreach( $map in $mapList )
            <mapping resource="${map}"></mapping>
        #end
    </session-factory>
</hibernate-configuration>
